<div class="card">
  <img
    src="{{ livro.thumbnail != undefined ? livro.thumbnail : 'imagens/capa-indisponivel.png'}}"
    alt="Capa do livro"
  />
  <div class="info-card">
    <p class="titulo">
      {{ livro.title?.length > 30 ? (livro.title | slice: 0 : 30) + '…' :
      livro.title }}
    </p>
    <p class="informacoes">Autoria:</p>
    <p class="resultado">
      {{ livro.authors ? (livro.authors | autoria) : "Indisponível" }}
    </p>
    <p class="informacoes">Data de publicação:</p>
    <p class="resultado">
      {{ (livro.publishedDate | date: "dd/MM/yyyy") ?? "Indisponível" }}
    </p>
    <p class="informacoes">Editora:</p>
    <p class="resultado">
      {{ livro.publisher ? (livro.publisher?.length > 20 ? (livro.publisher |
      slice: 0 : 20) + '…' : livro.publisher) : "Indisponível" }}
    </p>
    <button (click)="onModalChange(true)">Mais detalhes</button>
  </div>
</div>
@if(modalAberto){
<div>
  <app-modal-livro
    [livro]="livro"
    (mudouModal)="onModalChange($event)"
  ></app-modal-livro>
</div>
}
